* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f3f4f6;
  padding: 40px;
  color: #333;
}

.cv-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  background: purple;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: linear-gradient(180deg, #38bdf8, #818cf8);
  color: white;
  padding: 30px;
  text-align: center;
}

.sidebar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid white;
}

.sidebar h2 {
  margin-bottom: 5px;
}

.job {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.sidebar .section {
  text-align: left;
  margin-top: 25px;
}

.sidebar h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(255,255,255,0.4);
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 6px;
}

/* KONTEN */
.content {
  width: 70%;
  padding: 40px;
}

.content section {
  margin-bottom: 35px;
}

.content h1 {
  color: #2563eb;
  margin-bottom: 15px;
  border-left: 5px solid #38bdf8;
  padding-left: 10px;
}

.item {
  margin-bottom: 15px;
}

.item h4 {
  font-weight: 600;
}

.item span {
  font-size: 13px;
  color: #6b7280;
}
