* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #111;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

header span {
  color: #00adb5;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

ul li {
  background: #ddd;
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
}

.project {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.project a {
  text-decoration: none;
  color: #00adb5;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #fff;
}
